<nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    SmartParking
  </a>
  <input class="form-control form-control-dark w-100 form-control-sm" type="text" placeholder="Поиск парковки" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-sm btn-info" data-toggle="offcanvas" data-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>


<!-- Боковое меню -->
<nav id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation">
  <a class="navmenu-brand" href="#">Название сайта</a>
  <ul class="nav navmenu-nav">
    ...
  </ul>
</nav>




<div class="canvas">
  <!-- Основное содержимое веб-страницы -->
  <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&zoom=9&center=55.7558%2C37.6173" allowfullscreen></iframe>
</div>

