<nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    SmartParking
  </a>
  <input class="form-control form-control-dark w-100 form-control-sm" type="text" placeholder="Поиск парковки" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-sm btn-info" data-toggle="offcanvas" data-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>


<!-- Боковое меню -->
<nav id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation">
  <div class="container text-light my-3 text-center">
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.email %></span>
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => 'btn btn-light'%>
    <% else %>
      <%= link_to 'Войти', new_user_session_path, :class => 'btn btn-info btn-sm' %>
      <%= link_to 'Регистрация', new_user_registration_path, :class => 'btn btn-outline-info btn-sm' %>
    <% end %>
    <hr class="hr-sidebar">


  </div>
</nav>




<div class="canvas">
  <!-- Основное содержимое веб-страницы -->
  <div id="map"></div>
  <script>
      function initMap() {
          var uluru = {lat: 55.753286, lng: 37.618567};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: uluru
          });
          var marker = new google.maps.Marker({
              position: uluru,
              map: map
          });
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&callback=initMap"
          async defer></script>
</div>

