<div class="container h-100 d-flex">
  <div class="row m-auto">
    <div class="col text-center">
      <h1 class="mb-3"><%= t :sign_in %></h1>
      <%= render "sign_in_form" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>