<%= render 'components/header', title: "#{t(:editing_sensor)} <span class=\"font-italic font-weight-bold\">##{@sensor.id}</span>" %>
<%= render 'form', sensor: @sensor %>
<%= link_to t(:back), sensors_path %>
